#fotos .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

#fotos .container img {
    display: block;
    width: 100%;
    transition: all 0.3s linear;
}

#fotos .container img:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 1024px) {
    
    #fotos .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 40px 40px;
    }

    #fotos .container img {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) { 
    
    html {
        width: 100vw;
    }
}
